[submodule "android-module-core"]
	path = android-module-core
	url = https://github.com/darkcompet/android-module-core.git
[submodule "android-module-json"]
	path = android-module-json
	url = https://github.com/darkcompet/android-module-json.git
[submodule "android-module-storage"]
	path = android-module-storage
	url = https://github.com/darkcompet/android-module-storage.git
