[submodule "android-module-core"]
	path = android-module-core
	url = https://github.com/darkcompet/android-module-core.git
[submodule "android-module-json"]
	path = android-module-json
	url = https://github.com/darkcompet/android-module-json.git
[submodule "android-module-preference"]
	path = android-module-preference
	url = https://github.com/darkcompet/android-module-preference.git
[submodule "android-module-view"]
	path = android-module-view
	url = https://github.com/darkcompet/android-module-view.git
